<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>{{ plattform_name }} Developer Documentation</title>

<script src="{{ app_root }}/components/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="{{ app_root }}/components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
{% for script in scripts %}
<script src="{{ app_root }}/{{ script }}" type="text/javascript"></script>
{% endfor %}

<!-- Bootstrap core CSS -->
<link href="{{ app_root }}/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ app_root }}/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="{{ app_root }}/css/developer.css" rel="stylesheet">

{% for style in styles %}
<link href="{{ app_root }}/{{ style }}" type="text/css" rel="stylesheet">
{% endfor %}

</head>

<body class="devdocs">

	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ base }}">{{ plattform_name }} Developer Documentation</a>
			</div>
			<div class="navbar-collapse collapse">
				<!-- <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>-->
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ base }}/reference">Reference</a></li>
					<li><a href="{{ base }}/guides">Guides</a></li>
				</ul>
			</div>
		</div>
	</div>

	{% autoescape false %}
	<div class="container">{{ main }}</div>
	{% endautoescape %}


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

</body>
</html>
