<div class="row">
	<div class="col-md-9">{{ content|raw }}</div>
	<div class="col-md-3">

		<div class="panel-group" id="reference">
			{% for module in modules %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#reference" href="#collapse{{ module.module.getId() }}"><i class="fa fa-chevron-down"></i></a>			
						<a href="{{ base }}reference{{ module.basepath }}">{{ module.title }}</a>
						<span class="basepath">{{ module.basepath }}</span>
					</h4>
				</div>
				<div id="collapse{{ module.module.getId() }}" class="panel-collapse collapse in">
					<div>
						<ul class="operation-nav">
							{% for nickname, route in module.routes %}
							<li class="{{ route.method|lower }}">
								<a class="http_method" href="#!{{ module.basepath }}/{{ nickname }}">{{ route.method }}</a>
								<a class="path" href="#!{{ module.basepath }}/{{ nickname }}">{{ route.path }}</a>
							</li>
							{% endfor %}
						</ul>
      				</div>
    			</div>
  			</div>
  			{% endfor %}
  		</div>
	</div>
</div>